#homeBlock{
    width:100%;
    margin-top: 70px;
}

#homeBlock > article{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#homeBlock > article > h1{
    font-size: 35px;
    font-family: sans-serif;
    color: blue;
}

.createBtn > a{
    text-decoration: none;
    padding: 10px 30px;
    background-color: dodgerblue;
    
    
}